<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      html, body {
        margin: 0;
      }
      header {
        border-bottom: solid 1px gray;
        display: flex;
        position: relative;
      }
      .header--right {
        right: 0;
        position: absolute;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <%= link_to "/" do %>
        LOGO
      <% end %>
      <nav class="header--right">
        <% if member_signed_in? %>
          <%= button_to "ログアウト", destroy_member_session_path, method: :delete %>
        <% else %>
          <%= link_to "ログイン", new_member_session_path %>
        <% end %>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
