<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "TOP", "/" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if member_signed_in? %>
      <%= button_to "ログアウト", destroy_member_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_member_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
